

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],template {
    display: none
}

@font-face {
    font-family: Aeroport;
    font-weight: 400;
    font-style: normal;
    font-display:swap;src: url(../fonts/Aeroport.woff2) format("woff2"),url(../fonts/Aeroport.woff) format("woff")
}

@font-face {
    font-family: Aeroport;
    font-weight: 400;
    font-style: italic;
    font-display:swap;src: url(../fonts/AeroportItalic.woff2) format("woff2"),url(../fonts/AeroportItalic.woff) format("woff")
}

@font-face {
    font-family: Aeroport;
    font-weight: 500;
    font-style: normal;
    font-display:swap;src: url(../fonts/AeroportMedium.woff2) format("woff2"),url(../fonts/AeroportMedium.woff) format("woff")
}

@font-face {
    font-family: Aeroport;
    font-weight: 500;
    font-style: italic;
    font-display:swap;src: url(../fonts/AeroportMediumItalic.woff2) format("woff2"),url(../fonts/AeroportMediumItalic.woff) format("woff")
}

@font-face {
    font-family: Aeroport;
    font-weight: 700;
    font-style: normal;
    font-display:swap;src: url(../fonts/AeroportBold.woff2) format("woff2"),url(../fonts/AeroportBold.woff) format("woff")
}

@font-face {
    font-family: Aeroport;
    font-weight: 700;
    font-style: italic;
    font-display:swap;src: url(../fonts/AeroportBoldItalic.woff2) format("woff2"),url(../fonts/AeroportBoldItalic.woff) format("woff")
}

@font-face {
    font-family: Aeroport;
    font-weight: 300;
    font-style: normal;
    font-display:swap;src: url(../fonts/AeroportLight.woff2) format("woff2"),url(../fonts/AeroportLight.woff) format("woff")
}

@font-face {
    font-family: Aeroport;
    font-weight: 300;
    font-style: italic;
    font-display:swap;src: url(../fonts/AeroportLightItalic.woff2) format("woff2"),url(../fonts/AeroportLightItalic.woff) format("woff")
}

body {
    min-width: 320px;
    font-family: Aeroport,Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0a1428;
    background-color: #fff
}

img,svg {
    display: block
}

picture {
    overflow: hidden;
}

picture img {
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s,-webkit-transform .4s
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden
}

.page {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-x: hidden
}

.page--modal-opened,.page--no-scroll {
    position: fixed
}

@media (max-width: 767px) {
    .page--modal-opened {
        position:relative
    }
}

.page--scroll-visible {
    overflow-y: scroll
}

.page__item {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media (max-width: 1199px) {
    .page__item--colloborators:after {
        content:none
    }
}

@media (max-width: 767px) {
    .page__item--colloborators:after {
        content:none
    }
}

.page__item--content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden
}

@media (max-width: 767px) {
    .page__item--content {
        position:relative
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (max-width: 767px) {
    .container {
        padding:0 16px
    }
}

.container--block {
    padding: 0
}

.container__features {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0
}

@media (max-width: 1199px) {
    .container__features {
        display:block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 80px
    }
}

@media (max-width: 767px) {
    .container__features {
        margin-bottom:40px
    }
}

.container--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0
}

@media (max-width: 1199px) {
    .container--flex {
        -ms-flex-wrap:wrap;
        flex-wrap: wrap
    }
}

.button {
    display: block;
    min-width: 216px;
    padding: 14px 9px 18px;
    font-family: inherit;
    color: #fff;
    background-color: #042642;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1.125rem;
    line-height: 1.5rem
}

.button:focus,.button:hover {
    background-color: #003b67
}

@media (max-width: 1199px) {
    .button {
        min-width:203px
    }
}

@media (max-width: 767px) {
    .button {
        padding:10px 14px 14px;
        font-size: 16px
    }
}

.link {
    text-decoration: none;
    color: inherit
}

.link:focus,.link:hover {
    outline: none
}

.link--block {
    position: relative
}

.link--block:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    opacity: 0;
    -webkit-animation-name: line-out;
    animation-name: line-out;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

.link--block:focus:after,.link--block:hover:after {
    height: 2px;
    width: 100%;
    opacity: 1;
    -webkit-animation-name: line-in;
    animation-name: line-in;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

.link--section-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.link--underlined:after {
    width: 100%;
    opacity: .32
}

.link--text,.link__hover {
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(10,20,40,.24)),to(rgba(10,20,40,.24)));
    background-image: linear-gradient(90deg,rgba(10,20,40,.24),rgba(10,20,40,.24));
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: left 0 bottom .1em;
    -webkit-animation-name: line-out-text;
    animation-name: line-out-text;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

.link--menu:after {
    -webkit-animation-name: none;
    animation-name: none
}

.link--text:focus,.link--text:hover {
    background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
    background-image: linear-gradient(90deg,#0a1428,#0a1428);
    background-size: 100% 2px;
    -webkit-animation-name: line-in-text;
    animation-name: line-in-text;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

.link--text-white {
    background-image: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),to(hsla(0,0%,100%,0)));
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0));
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: left 0 bottom 0;
    -webkit-animation-name: line-out-text-white;
    animation-name: line-out-text-white;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

.link--text-white:focus,.link--text-white:hover {
    background-image: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff));
    background-image: linear-gradient(90deg,#fff,#fff);
    background-size: 100% 2px;
    -webkit-animation-name: line-in-text-white;
    animation-name: line-in-text-white;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

.link--section {
    position: relative;
    display: block
}

.link--section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%
}

.link--section .link__hover {
    background-size: 0 2px
}

.link--section:focus img,.link--section:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.link--section:focus .link__hover,.link--section:hover .link__hover {
    background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
    background-image: linear-gradient(90deg,#0a1428,#0a1428);
    background-size: 100% 2px;
    -webkit-animation-name: line-in-text;
    animation-name: line-in-text;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

@-webkit-keyframes line-in {
    0% {
        height: 2px;
        width: 0;
        opacity: 1
    }

    to {
        height: 2px;
        width: 100%;
        opacity: 1
    }
}

@keyframes line-in {
    0% {
        height: 2px;
        width: 0;
        opacity: 1
    }

    to {
        height: 2px;
        width: 100%;
        opacity: 1
    }
}

@-webkit-keyframes line-out {
    0% {
        height: 2px;
        width: 100%;
        opacity: 1
    }

    to {
        height: 2px;
        width: 0;
        opacity: 1
    }
}

@keyframes line-out {
    0% {
        height: 2px;
        width: 100%;
        opacity: 1
    }

    to {
        height: 2px;
        width: 0;
        opacity: 1
    }
}

@-webkit-keyframes line-in-text {
    0% {
        background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
        background-image: linear-gradient(90deg,#0a1428,#0a1428);
        background-size: 0 2px
    }

    to {
        background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
        background-image: linear-gradient(90deg,#0a1428,#0a1428);
        background-size: 100% 2px
    }
}

@keyframes line-in-text {
    0% {
        background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
        background-image: linear-gradient(90deg,#0a1428,#0a1428);
        background-size: 0 2px
    }

    to {
        background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
        background-image: linear-gradient(90deg,#0a1428,#0a1428);
        background-size: 100% 2px
    }
}

@-webkit-keyframes line-out-text {
    0% {
        background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
        background-image: linear-gradient(90deg,#0a1428,#0a1428);
        background-size: 100% 2px
    }

    to {
        background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
        background-image: linear-gradient(90deg,#0a1428,#0a1428);
        background-size: 0 2px
    }
}

@keyframes line-out-text {
    0% {
        background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
        background-image: linear-gradient(90deg,#0a1428,#0a1428);
        background-size: 100% 2px
    }

    to {
        background-image: -webkit-gradient(linear,left top,right top,from(#0a1428),to(#0a1428));
        background-image: linear-gradient(90deg,#0a1428,#0a1428);
        background-size: 0 2px
    }
}

@-webkit-keyframes line-in-text-white {
    0% {
        background-image: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff));
        background-image: linear-gradient(90deg,#fff,#fff);
        background-size: 0 2px
    }

    to {
        background-image: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff));
        background-image: linear-gradient(90deg,#fff,#fff);
        background-size: 100% 2px
    }
}

@keyframes line-in-text-white {
    0% {
        background-image: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff));
        background-image: linear-gradient(90deg,#fff,#fff);
        background-size: 0 2px
    }

    to {
        background-image: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff));
        background-image: linear-gradient(90deg,#fff,#fff);
        background-size: 100% 2px
    }
}

@-webkit-keyframes line-out-text-white {
    0% {
        background-image: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff));
        background-image: linear-gradient(90deg,#fff,#fff);
        background-size: 100% 2px
    }

    to {
        background-image: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff));
        background-image: linear-gradient(90deg,#fff,#fff);
        background-size: 0 2px
    }
}

@keyframes line-out-text-white {
    0% {
        background-image: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff));
        background-image: linear-gradient(90deg,#fff,#fff);
        background-size: 100% 2px
    }

    to {
        background-image: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff));
        background-image: linear-gradient(90deg,#fff,#fff);
        background-size: 0 2px
    }
}

.link--active-menu:after {
    width: 100%;
    height: 2px
}

.link--active-menu:after,.link--active-menu:focus:after,.link--active-menu:hover:after {
    opacity: .32;
    -webkit-animation: none;
    animation: none
}

.date {
    position: relative;
    padding-left: 24px;
    font-size: .875rem;
    line-height: 1.25rem
}

.date:before {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(/img/icon-clock.svg);
    background-position: 50%;
    background-repeat: no-repeat
}

.cards-wrapper {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    overflow: hidden
}

@media (max-width: 1979px) {
    .cards-wrapper {
        background-size:0 0
    }
}

.cards-wrapper__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 767px) {
    .cards-wrapper__inner {
        display:block
    }
}

.cards-wrapper__team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.cards-wrapper--business-city {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(50%,#042642),color-stop(50%,#fff));
    background-image: linear-gradient(90deg,#042642 50%,#fff 0)
}

.cards-wrapper--investors-advertisers {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(50%,#0a0a0a),color-stop(50%,#dce0e3));
    background-image: linear-gradient(90deg,#0a0a0a 50%,#dce0e3 0)
}

@media (max-width: 1199px) {
    .cards-wrapper--investors-advertisers .cards-wrapper__inner {
        display:block
    }
}

.cards-wrapper--team-news {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(50%,#fff),color-stop(50%,#0a0a0a));
    background-image: linear-gradient(90deg,#fff 50%,#0a0a0a 0)
}

@media (max-width: 767px) {
    .cards-wrapper--team-news {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.cards-wrapper--investor-russia {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(25%,#042642),color-stop(25%,#042642));
    background-image: linear-gradient(90deg,#042642 25%,#042642 0)
}

.cards-wrapper--investor-abroad {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(25%,#dce0e3),color-stop(25%,#dce0e3));
    background-image: linear-gradient(90deg,#dce0e3 25%,#dce0e3 0)
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.card:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.card--picture {
    color: #fff;
    background-color: #0a0a0a
}

.card--medium {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.card--medium,.card--small {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 33.33%
}

@media (min-width: 768px) and (max-width:1199px) {
    .card--medium,.card--small {
        width:50%
    }
}

@media (max-width: 767px) {
    .card--medium,.card--small {
        width:100%
    }
}

.card:before {
    content: "";
    display: block;
    width: 0;
    height: 640px
}

@media (max-width: 767px) {
    .card:before {
        height:375px
    }
}

@media (max-width: 1199px) {
    .card--short.card--medium,.card--short.card--small {
        width:100%
    }
}

@media (max-width: 1199px) {
    .card--short:before {
        /* height:512px; */
    }
}

@media (max-width: 767px) {
    .card--short:before {
        /* height:250px */
    }
}

.card--banner:before {
    height: 44.44vw;
    min-height: 640px;
    max-height: 840px
}

@media (max-width: 767px) {
    .card--banner:before {
        min-height:375px
    }
}

.card--banner-sm:before {
    max-height: 700px
}

.card__picture {
    top: 0;
    left: 0;
    z-index: -1
}

.card__picture,.card__picture img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%
}

.card__picture img {
    -o-object-fit: cover;
    font-family: "object-fit:cover";
    object-fit: cover
}

.card__picture--overlay img {
    opacity: .5
}

.card__picture--no-opacity img {
    opacity: 1
}

.card__inner {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-top: 38px;
    padding-bottom: 40px;
}

@media (max-width: 767px) {
    .card__inner {
        padding-top:16px;
        padding-bottom: 23px
    }
}

@media (max-width: 767px) {
    .card__inner--advertising {
        padding-bottom:16px
    }
}

.card__top {
    margin-bottom: 80px
}

@media (max-width: 767px) {
    .card__top {
        margin-bottom:40px
    }
}

.card__top--user {
    margin-bottom: 168px
}

@media (max-width: 1199px) {
    .card__top--user {
        margin-bottom:120px
    }
}

@media (max-width: 767px) {
    .card__top--user {
        margin-bottom:90px
    }
}

@media (max-width: 767px) {
    .card__top--smart-city {
        margin-bottom:16px
    }
}

.card__bottom {
    position: relative;
    z-index: 3
}

.card__bottom--advertising {
    margin-bottom: 1px;
    padding-left: 56px
}

.card__title {
    position: relative;
    z-index: 3;
    font-size: 1.625rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 0 0 16px
}

@media (max-width: 1199px) {
    .card__title {
        margin-top:1px;
        margin-bottom: 17px;
        font-size: 1.625rem;
        line-height: 2rem
    }
}

@media (max-width: 767px) {
    .card__title {
        font-size:1.25rem;
        line-height: 1.75rem;
        margin-bottom: 7px
    }
}

.card__title br {
    display: none
}

@media (max-width: 1439px) {
    .card__title br {
        display:inline
    }
}

@media (max-width: 767px) {
    .card__title br {
        display:none
    }
}

.card__title--smart-city {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.375rem
}

@media (max-width: 767px) {
    .card__title--smart-city {
        font-weight:500;
        font-size: 1.375rem;
        line-height: 1.875rem
    }
}

.card__text {
    font-size: 1.125rem;
    line-height: 1.5rem;
    max-width: 400px;
    margin: 0
}

@media (max-width: 767px) {
    .card__text {
        font-size:.875rem;
        line-height: 1.375rem;
        max-width: 340px
    }
}

.card__text--colloborators {
    display: none
}

@media (max-width: 1199px) {
    .card__text--colloborators {
        display:block;
        max-width: 100%
    }
}

.card__link {
    font-size: 1.125rem;
    line-height: 1.5rem;
    display: inline-block;
    vertical-align: bottom;
    padding: .3em 0
}

@media (max-width: 767px) {
    .card__link {
        font-size:.875rem;
        line-height: 1.25rem;
        padding: 3px 0
    }
}

.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    color: #fff;
    background-color: #0a0a0a;
    overflow: hidden
}

@media (max-width: 767px) {
    .tabs {
        color:#0a1428;
        background-color: #fff
    }
}

.tabs:hover:after {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.tabs:before {
    content: "";
    display: block;
    width: 0
}

@media (max-width: 767px) {
    .tabs:before {
        display:none
    }
}

.tabs__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 0
}

@media (max-width: 767px) {
    .tabs__inner {
        padding:0
    }
}

.tabs__inner--city {
    padding-top: 38px;
    padding-bottom: 37px
}

@media (max-width: 1199px) {
    .tabs__inner--city {
        padding-bottom:41px
    }
}

@media (max-width: 767px) {
    .tabs__inner--city {
        padding-bottom:40px
    }
}

@media (max-width: 767px) {
    .tabs__top {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        z-index: 1;
        width: 100%;
        color: #fff;
        background-color: #0a0a0a;
        overflow: hidden
    }

    .tabs__top:hover:after {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    .tabs__top:before {
        content: "";
        display: block;
        width: 0;
        height: 342px
    }

    .tabs__top:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .45;
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s,-webkit-transform .4s
    }
}

.tabs__top--career {
    display: block;
    color: #0a1428;
    background-color: transparent
}

.tabs__top--career:after,.tabs__top--career:before {
    content: none
}

@media (max-width: 767px) {
    .tabs__top-container {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px
    }
}

.tabs__top-container--career {
    padding: 0 20px
}

@media (max-width: 767px) {
    .tabs__top-container--career {
        padding:0
    }
}

.tabs__bottom {
    margin-top: 80px
}

@media (max-width: 767px) {
    .tabs__bottom {
        margin-top:0
    }
}

.tabs__bottom--carrer {
    margin-top: 16px;
    padding: 0 20px
}

.tabs__bottom--carrer div[data-qa=widget-title] {
    display: none!important
}

@media (max-width: 1199px) {
    .tabs__bottom--carrer {
        margin-top:33px
    }
}

@media (max-width: 767px) {
    .tabs__bottom--carrer {
        margin-top:23px;
        padding: 0
    }
}

.tabs__title {
    font-size: 1.875rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin: 0 0 32px
}

@media (max-width: 767px) {
    .tabs__title {
        font-size:1.375rem;
        line-height: 1.875rem
    }
}

.tabs__title--city {
    margin-bottom: 34px
}

.tabs__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    list-style: none;
    margin: 0 -8px 0 -4px
}

.tabs__controls li {
    margin: 0 4px 8px
}

@media (max-width: 767px) {
    .tabs__controls {
        margin-bottom:-8px
    }
}

.tabs__btn {
    display: block;
    padding: 9px 15px 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 2px;
    -webkit-transition: color .2s ease-in,background-color .2s ease-in,border-color .2s ease-in;
    transition: color .2s ease-in,background-color .2s ease-in,border-color .2s ease-in
}

.tabs__btn:focus,.tabs__btn:hover {
    background-color: hsla(0,0%,100%,.3);
    -webkit-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out
}

.tabs__btn--current {
    color: #0a1428;
    border-color: #fff
}

.tabs__btn--current,.tabs__btn--current:focus,.tabs__btn--current:hover {
    background-color: #fff
}

@media (max-width: 767px) {
    .tabs__btn {
        font-size:.75rem;
        line-height: 1.125rem;
        padding: 9px 14px 11px 15px
    }
}

.tabs__content {
    display: none
}

.tabs__content:last-child {
    margin-bottom: 55px
}

.tabs__content--current {
    display: block;
    -webkit-animation-name: showTab;
    animation-name: showTab;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

@-webkit-keyframes showTab {
    0% {
        display: block;
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes showTab {
    0% {
        display: block;
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}


.form {
    max-width: 880px
}

.form__field {
    margin: 0 0 16px
}

.form__input {
    width: 100%;
    padding: 15px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Aeroport,Arial,sans-serif;
    border: 1px solid rgba(10,20,40,.24);
    outline: none;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem
}

.form__input--textarea {
    min-height: 112px;
    resize: none
}

.form__input:focus {
    border-color: #0a1428
}

.form__input:focus::-webkit-input-placeholder {
    opacity: 0
}

.form__input:focus::-moz-placeholder {
    opacity: 0
}

.form__input:focus:-ms-input-placeholder {
    opacity: 0
}

.form__input:focus:-moz-placeholder {
    opacity: 0
}

.form__input::-webkit-input-placeholder {
    color: rgba(10,20,40,.4);
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.form__input::-moz-placeholder {
    color: rgba(10,20,40,.4);
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.form__input:-ms-input-placeholder {
    color: rgba(10,20,40,.4);
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.form__input:-moz-placeholder {
    color: rgba(10,20,40,.4);
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.form__button {
    padding-top: 14px;
    padding-bottom: 18px;
    min-width: 192px
}

@media (max-width: 767px) {
    .form__button {
        padding:15px 9px 17px;
        font-size: 1.125rem;
        line-height: 1.5rem
    }
}

.form__field-error {
    font-size: .875rem;
    color: #b31d1e
}

.form__submit--default {
    display: block
}

.form--sending .form__submit--default,.form__error-msg,.form__field-error,.form__submit--sending,.form__success-msg {
    display: none
}

.form--dirty .form__field-error,.form--sending .form__submit--sending {
    display: block
}

.form--dirty .form__success-msg {
    display: none
}

.form--dirty .form__error-msg {
    display: block
}

.form--success .form__field-error {
    display: none
}

.form--success .form__success-msg {
    display: block
}

.form--success .form__error-msg {
    display: none
}

.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    list-style: none;
    margin: 0 -40px
}

@media (max-width: 1199px) {
    .columns {
        margin:0 -20px
    }
}

@media (max-width: 767px) {
    .columns {
        display:block;
        width: 100%;
        max-width: 580px;
        margin: 0
    }
}

.columns__title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 0 34px;
    max-width: 400px
}

.columns__title--investor,.columns__title--partner {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem
}

@media (max-width: 1199px) {
    .columns__title--investor,.columns__title--partner {
        font-weight:500;
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}

@media (max-width: 767px) {
    .columns__title--investor,.columns__title--partner {
        margin-bottom:7px
    }
}

@media (max-width: 1199px) {
    .columns__title {
        margin:0 0 16px
    }
}

@media (max-width: 767px) {
    .columns__title {
        font-size:.875rem;
        line-height: 1.1875rem;
        margin-bottom: 8px
    }
}

.columns__title--narrow {
    max-width: 180px
}

@media (max-width: 1199px) {
    .columns__title--narrow {
        max-width:none
    }
}

.columns__title--city {
    margin-bottom: 17px
}

.columns__title--project {
    max-width: none;
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 2rem
}

@media (max-width: 1199px) {
    .columns__title--project {
        margin-bottom:17px
    }
}

@media (max-width: 767px) {
    .columns__title--project {
        font-weight:500;
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}

.columns__title--short {
    max-width: 180px
}

@media (max-width: 767px) {
    .columns__title--short {
        max-width:none
    }
}

.columns__item {
    width: 33.33%;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.columns__item--invest {
    margin-right: 32px;
    padding: 0;
    width: 200px;
    min-height: 210px;
    -webkit-box-shadow: 0 0 0 20px transparent;
    box-shadow: 0 0 0 20px transparent;
    -webkit-transition: background-color .4s,-webkit-box-shadow .4s;
    transition: background-color .4s,-webkit-box-shadow .4s;
    transition: background-color .4s,box-shadow .4s;
    transition: background-color .4s,box-shadow .4s,-webkit-box-shadow .4s
}

.columns__item--invest:last-child {
    margin-right: 0
}

.columns__item--invest:hover {
    background-color: #dce0e3;
    -webkit-box-shadow: 0 0 0 20px #dce0e3;
    box-shadow: 0 0 0 20px #dce0e3;
    -webkit-transition: background-color .4s,-webkit-box-shadow .4s;
    transition: background-color .4s,-webkit-box-shadow .4s;
    transition: background-color .4s,box-shadow .4s;
    transition: background-color .4s,box-shadow .4s,-webkit-box-shadow .4s
}

.columns__item--invest svg:hover {
    cursor: pointer
}

@media (min-width: 1200px) {
    .columns__item--invest:hover {
        -webkit-box-flex:1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .columns__item--invest:hover+li,.columns__item--invest:hover h3 {
        display: none
    }

    .columns__item--invest:hover .card__text {
        display: block
    }
}

@media (min-width: 1200px) and (max-width:1439px) {
    .columns__item--invest {
        margin-right:4.82%;
        width: 30.12%
    }

    .columns__item--invest:last-child {
        margin-right: 0
    }
}

@media (max-width: 1199px) {
    .columns__item--invest {
        margin-right:0;
        width: 100%;
        max-width: 100%
    }
}

@media (max-width: 1199px) {
    .columns__item {
        padding:0 20px
    }
}

@media (max-width: 767px) {
    .columns__item {
        width:100%;
        padding: 0
    }
}

.columns__item p {
    margin: 0 0 16px
}

.columns__item p:last-child {
    margin-bottom: 0
}

.columns__item .card__text--colloborators {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem
}

.columns__item--open {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.columns__item--career {
    margin-right: 13.23%;
    padding: 0;
    width: 22.06%
}

.columns__item--career:last-child {
    margin-right: auto
}

@media (max-width: 1199px) {
    .columns__item--career {
        margin-right:5.81%;
        width: 29.36%
    }
}

@media (max-width: 767px) {
    .columns__item--career {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-right: auto;
        width: auto;
        max-width: 500px
    }
}

.columns--icons {
    margin-bottom: -58px
}

@media (max-width: 767px) {
    .columns--icons {
        margin-bottom:0
    }
}

.columns--icons .columns__item {
    margin-bottom: 80px
}

@media (max-width: 1199px) {
    .columns--icons .columns__item {
        min-height:80px
    }
}

@media (max-width: 767px) {
    .columns--icons .columns__item {
        position:relative;
        min-height: 40px;
        padding-left: 56px;
        margin-bottom: 24px
    }

    .columns--icons .columns__item:last-child {
        margin-bottom: 0
    }
}

.columns--icons .columns__item--user {
    margin-bottom: 40px
}

@media (max-width: 767px) {
    .columns--icons .columns__item--user {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .columns--icons .columns__item--user p {
        display: none
    }
}

.columns--icons .columns__item--career {
    margin-bottom: 79px
}

@media (max-width: 767px) {
    .columns--icons .columns__item--career {
        margin-bottom:27px
    }
}

.columns--icons .columns__item--train {
    margin-bottom: 61px
}

@media (max-width: 767px) {
    .columns--icons .columns__item--train {
        margin-bottom:30px;
        padding-left: 65px
    }
}

.columns--icons svg {
    display: block;
    width: 39px;
    height: 39px;
    margin-bottom: 25px;
    fill: none
}

@media (max-width: 1199px) {
    .columns--icons svg {
        width:80px;
        height: 80px
    }
}

@media (max-width: 767px) {
    .columns--icons svg {
        position:absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px
    }
}

.columns--icons p {
    font-size: 1.125rem;
    line-height: 1.5rem
}

@media (max-width: 767px) {
    .columns--icons p {
        font-size:.875rem;
        line-height: 1.375rem
    }
}

@media (max-width: 1199px) {
    .columns--icons .about__facts-columns {
        margin-bottom:57px
    }
}

.columns--icons-city svg {
    margin-bottom: 33px;
    width: 80px;
    height: 80px
}

@media (max-width: 767px) {
    .columns--icons-city svg {
        top:5px;
        width: 40px;
        height: 40px
    }
}

.columns--facts svg {
    margin-bottom: 33px;
    width: 80px;
    height: 80px
}

@media (max-width: 767px) {
    .columns--facts svg {
        top:5px;
        width: 40px;
        height: 40px
    }
}

.columns--business svg {
    width: 80px;
    height: 80px
}

@media (max-width: 767px) {
    .columns--business svg {
        width:40px;
        height: 40px
    }
}

.columns--investor {
    margin: 0
}

@media (min-width: 1200px) {
    .columns--investor>.columns__item {
        margin-bottom:40px
    }
}

@media (min-width: 768px) and (max-width:1199px) {
    .columns--tablet-wide {
        display:block;
        width: 100%;
        max-width: 880px;
        margin: 0
    }

    .columns--tablet-wide .columns__item {
        width: 100%;
        padding: 0
    }

    .columns--tablet-wide .columns__title {
        max-width: none
    }
}

@media (min-width: 768px) and (max-width:1199px) {
    .columns--tablet-wide.columns--icons .columns__item {
        position:relative;
        padding-left: 136px;
        margin-bottom: 56px
    }

    .columns--tablet-wide.columns--icons .columns__item:last-child {
        margin-bottom: 0
    }

    .columns--tablet-wide.columns--icons .columns__item--city {
        margin-bottom: 64px
    }

    .columns--tablet-wide.columns--icons .columns__item--city:last-child {
        margin-bottom: 0
    }

    .columns--tablet-wide.columns--icons svg {
        position: absolute;
        top: 0;
        left: 0
    }
}

@media (max-width: 767px) {
    .columns--tabs .columns__item {
        margin-bottom:0
    }
}

@media (max-width: 1199px) {
    .columns--tabs .columns__title {
        font-size:1rem;
        line-height: 1.375rem;
        margin-bottom: 8px
    }
}

@media (max-width: 767px) {
    .columns--tabs .columns__title {
        font-size:.875rem;
        line-height: 1.1875rem;
        margin-top: 24px
    }
}

.columns--tabs p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 36px
}

@media (max-width: 1199px) {
    .columns--tabs p {
        font-size:.875rem;
        line-height: 1.25rem;
        margin-bottom: 24px
    }
}

@media (max-width: 767px) {
    .columns--tabs p {
        font-size:.875rem;
        line-height: 1.375rem;
        margin-bottom: 0
    }
}

.columns--career {
    margin: 0
}

.columns--career svg {
    margin-bottom: 17px;
    width: 80px;
    height: 80px
}

@media (max-width: 767px) {
    .columns--career svg {
        top:50%;
        width: 39px;
        height: 39px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

.columns--projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0
}

.columns--projects li:last-child h3 {
    margin-bottom: 0
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    opacity: 0;
    pointer-events: none
}

.overlay--modal {
    z-index: 120
}

@media (max-width: 767px) {
    .overlay--modal {
        z-index:0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%
    }
}

.overlay--show,.page--modal-opened .overlay--modal {
    opacity: 1;
    pointer-events: auto;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .8s;
    animation-duration: .8s
}

.overlay--hide,.page--modal-closed .overlay--modal {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .8s;
    animation-duration: .8s
}

@media (max-width: 1199px) {
    .menu {
        max-width:none;
        width: 100%;
        background-color: #fff
    }
}

.menu__language,.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    list-style: none;
    margin: 0 0 0 -38px
}

@media (max-width: 1199px) {
    .menu__language,.menu__list {
        font-size:2.5rem;
        line-height: 3.125rem;
        display: block;
        margin: 0;
        padding: 34px 40px
    }
}

@media (max-width: 767px) {
    .menu__language,.menu__list {
        font-size:1.75rem;
        line-height: 2rem;
        padding: 8px 16px 16px
    }
}

.menu__language li,.menu__list li {
    margin-left: 38px
}

@media (max-width: 1199px) {
    .menu__language li,.menu__list li {
        margin-left:0
    }
}

.menu__language a,.menu__list a {
    display: inline-block;
    padding: 10px 0
}

.menu__language a:after,.menu__list a:after {
    bottom: .3em
}

@media (max-width: 1199px) {
    .menu__language a,.menu__list a {
        padding:16px 0
    }
}

@media (max-width: 767px) {
    .menu__language a,.menu__list a {
        padding:11px 0 12px
    }
}

@media (max-width: 1199px) {
    .menu__list {
        -webkit-box-ordinal-group:2;
        -ms-flex-order: 1;
        order: 1
    }
}

.menu__language {
    margin-left: 38px
}

.menu__language li {
    position: relative;
    margin-right: 18px;
    margin-left: 0
}

.menu__language li:last-child {
    margin-right: 0
}

.menu__language li:after {
    content: "";
    position: absolute;
    top: 9px;
    right: -8px;
    width: 1px;
    height: 26px;
    background-color: #0a1428
}

.menu__language li:last-child:after {
    content: none
}

@media (max-width: 1199px) {
    .menu__language {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .menu__language li {
        margin-right: 32px
    }

    .menu__language li:after {
        top: 10px;
        right: -16px;
        height: 62px
    }
}

@media (max-width: 767px) {
    .menu__language li:after {
        top:7px;
        height: 41px
    }
}
